body {
    background-color: pink;
}
h1 {
    color: white;
    font-size: xx-large;
    text-align: center;
}
.immagine11 {
    width: 85%;
    height: auto;
}
.immagine22 {
    width: 85%;
    height: auto;
}
.immagine1 {
    text-align: center;
    width: 45%;
}
.immagine2 {
    text-align: center;
    width: 45%;
}
.imgcontainer {
    display:flex;
    justify-content: center;
}
.sotto {
    width: 98%;
}
.bella {
    text-align: right;
}